@model PopCulture.Models.ViewModels.ShoppingCartVM

<form method="post" class="content" style="height: 80vh">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="row">
					<div class="col-6 d-flex align-items-center">
						<i class="fa fa-shopping-cart m-0"></i> &nbsp;
						<h6 class="m-0">Shopping Cart</h6>
					</div>
					<div class="col-6 text-end">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-light btn-sm">Continue Shopping</a>
					</div>
				</div>
			</div>

			<div class="card-body">
                @foreach (var item in Model.ListCart)
				{
					<div class="row">
					<div class="d-none border d-lg-block col-lg-1 text-center m-0">
						<img src="@item.Product.ImageUrl" class="rounded" width="100%" />
					</div>
					<div class="col-12 col-lg-6 pt-md-3">
							<h4><strong>@item.Product.Name</strong></h4>
						<p><small>@Html.Raw(item.Product.Description)</small></p>
					</div>
					<div class="col-12 col-lg-5 d-flex justify-content-end align-items-center">
						<div class="col-4 text-md-right">
								<h6 class="m-0"><strong>@item.Product.Price.ToString("c") <span class="text-muted">X</span> @item.Count</strong></h6>
						</div>
						<div class="btn-gorup me-4" role="group">
							<a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-outline-dark">-</a>
							
							<a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-outline-dark">+</a>

						</div>
							<a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
							<i class="bi bi-trash3"></i>
						</a>
					</div>
				</div>
				<hr />
				}
				

				
				<div class="text-end col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-lg-8 offset-md-6 pr-4">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between bg-light">
							<span class="text-dark"> Total (NRs):</span>
							<h5 class="text-dark fw-bolder m-0 p-0">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
						</li>
					</ul>
				</div>
				<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 mt-3">
					<a asp-action="Summary" class="btn btn-dark form-control">Summary</a>
				</div>

			</div>
		</div>
	</div>
</form>
