@{
    var status = Context.Request.Query["status"];
    var pending = "text-dark";
    var inprocess = "text-dark";
    var completed = "text-dark";
    var approved = "text-dark";
    var all = "text-dark";
    
    switch(status) {
        case "pending":
            pending = "bg-dark text-white";
            break;
         case "inprocess":
            inprocess = "bg-dark text-white";
            break;
         case "completed":
            completed = "bg-dark text-white";
            break;
         case "approved":
            approved = "bg-dark text-white";
            break;
         default:
            all = "bg-dark text-white";
            break;        
        
    }
}

<div class="content" style="height: 100vh">

    <div class="d-flex justify-content-between align-items-center my-5">
        <h2 class="col-6 m-0">Order List</h2>
        <ul class="list-group rounded list-group-horizontal-sm">
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess" >
                <li class="list-group-item @inprocess">In Process</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item @pending">Pending</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item @completed">Completed</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @approved">Approved</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
            </a>
        </ul>
  
    </div>



    <table id="tblData" class="table table-bordered table-striped mt-2" style="width:100%">
        <thead class="border">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>


    </table>


</div>

@section Scripts {
    <script src="~/js/order.js">

    </script>
}
